body{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      animation: bgcolor infinite 20s;
}
.pageloader{
    width:150px;
    height: 150px;
}
.pageloader circle {
    fill: none;
    stroke-width: 6;
    stroke-linecap:round;
}
.pageloader circle:nth-child(1){
    stroke: #d6dc25;
    stroke-dasharray: 10;
    animation-delay: -.3s;
}
.pageloader circle:nth-child(2){
    stroke: #d72307;
    stroke-dasharray: 20;
    animation-delay: -.5s;
    
}

.pageloader circle:nth-child(3){
    stroke: #ed07a8;
    stroke-dasharray: 30;
    animation-delay: -.8s;
}
.pageloader circle:nth-child(4){
    stroke: #0575c6;
    stroke-dasharray: 65;
    stroke-dashoffset: -100;
    animation-delay: -1s;
}
.pageloader circle:nth-child(5){
    stroke: #7a02cf;
    stroke-dasharray: 8;
    animation-delay: -.1s;
    
}
@keyframes loader {
    50%{
        transform:rotate(360deg);
    }
}
.pageloader circle {
    animation-name: loader;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-origin: center center;
}
@keyframes bgcolor{
    0%{
        background:#246457 ;
    }
    10%{
        background: #0d9b7e;
    }
    20%{
        background:#10846c ;
    }
    30%{
        background:#136755 ;
    }
    40%{
        background:#092832 ;
    }
    50%{
        background: #1d0c18;
    }
    60%{
        background: #092532;
    }
    70%{
        background: #051c17;
    }
    80%{
        background: #0a6150 ;
    }
    90%{
        background: #10987d;
    }
    100%{
        background: #228672;
    }
}